.Message {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.Message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid silver;
  margin-left: 1rem;
  margin-right: 1rem;
}

.StyleContent {
  position: relative;
  display: flex;
  align-items: inherit;
  color: rgb(0, 0, 0);
  border-radius: 1rem 1rem 1rem 0;
  max-width: 60%;
  background: rgb(240, 240, 240);
  box-shadow: 0 0 10px silver;
}

.StyleContent::before {
  content: "";
  position: relative;
  right: 1.2rem;
  border: 1rem solid silver;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent rgb(240, 240, 240) transparent;
}

.Name {
  font-size: 1.2rem;
  font-weight: 600;
  color: midnightblue;
}
.Time {
  margin-right: 12px;
}
