.superInput {
    display: inline-block;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

.superInput:hover {
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
.superInput:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.errorInput {
    border:2px solid #fc4c4c;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}
.errorInput:hover {
    border-color: #fc4c4c;
    box-shadow:0 0 8px 0 #fc4c4c;
}
.errorInput:focus{
    border-color: #fc4c4c;
    box-shadow:0 0 8px 0 #fc4c4c;
}

.error {
    color: red;
}

.spanClassName {
    display: inline-block;
    min-width: 150px;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

.spanClassName:hover {
    border-color: dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}